html,
body {
  height: 100%;
}

#wrapper {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  min-height     : 100%;
  min-width      : 10rem;
}

body {
  background-color   : #FF7E30;
  color              : #FFFFFF;
  font-family        : 'P22 Mackinac Pro', serif;
  margin             : 0;
  transition         : all 1.5s ease;
  /* Standard */
  user-select        : none;
  /* Firefox */
  -moz-user-select   : none;
  /* IE10+/Edge */
  -ms-user-select    : none;
  /* Safari */
  -webkit-user-select: none;
}

#top-spacer {
  flex-grow: 1;
}

#mode-buttons-container {
  align-items    : flex-end;
  display        : flex;
  flex-grow      : 1;
  justify-content: flex-end;
}

#time-wrapper {
  display  : flex;
  font-size: 5rem;
  margin   : 0;
}

.span-wrapper {
  flex           : 1;
  display        : flex;
  justify-content: center;
}

.span-wrapper:first-child>span {
  margin-left : auto;
  margin-right: 0.3rem;
}

.span-wrapper:last-child>span {
  margin-left : 0.3rem;
  margin-right: auto;
}

#timer-buttons-container {
  display        : flex;
  justify-content: center;
}

#mode-buttons {
  margin-right  : 1rem;
  margin-bottom : 1rem;
  display       : flex;
  flex-direction: column;
  align-items   : flex-end;
  text-align    : right;
}

button {
  border          : none;
  background-color: transparent;
  color           : inherit;
  font-family     : inherit;
  font-size       : x-large;
  outline         : none;
  transition      : all 0.15s ease;
}

#timer-buttons-container>button {
  margin-left : 1rem;
  margin-right: 1rem;
}

#pause,
#reset {
  flex: 0 0 4.5rem;
}

#pause {
  text-align: right;
}

button:hover {
  color : #E5E5E5;
  cursor: pointer;
}

.clicked {
  text-shadow: 0 0 0.1rem #FFFFFF;
}

@font-face {
  font-family: 'P22 Mackinac Pro';
  font-style : normal;
  font-weight: 400;
  src        : local(''),
    url('./fonts/P22MackinacPro-Medium_26.otf') format('opentype');
}

@media (max-width: 600px) {
  #mode-buttons-container {
    justify-content: center;
  }

  #mode-buttons {
    align-items: center;
  }
}